CD_TrackEm3-xcode-build
CCD_TrackEm3-xcode-build/*

CCD_TrackEm3.xcworkspace
CCD_TrackEm3.xcworkspace/*
CCD_TrackEm3.xcworkspace/xcuserdata/amycoffer.xcuserdatad/UserInterfaceState.xcuserstate
CCD_TrackEm3.xcworkspace/xcuserdata/amycoffer.xcuserdatad/UserInterfaceState.xcuserstate/*

temp_data
temp_data/*
./
.DS_Store
../.DS_Store
../../.DS_Store
CCD_TrackEm3_Old
CCD_TrackEm3_Old/*
Build/
CCD_Tracking/Build/*
